/node_modules
/public/hot
/public/storage
/public/upload/*
/public/akademik/*
/storage/*.key
/storage/app/*
/vendor
.env
.github
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/storage/*
